<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/editor.js/2.17.0/editor.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/embed@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/paragraph@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/quote@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/warning@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/delimiter@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/nested-list@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/checklist@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/image@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/simple-image@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/image@2.3.0"></script>
  
   
  
  
 <link rel="stylesheet" href="../style/style.css">
  
  <style>
     @import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Oswald:wght@300&family=Source+Sans+Pro:ital,wght@0,200;0,400;1,200&display=swap');
 
    body {
      background-image: url('../backgroundImages/subjectsB.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
      width: 100vw;
      height: 100vh;

    }
  i{
    color: black;
    font-family: 'Concert One', cursive;
      
      font-size: 22px;
}
        .flex-class {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      
      
    }

    .card-title{
      color: white;
      text-shadow: 2px 2px 4px #000000;
    }
    .card{
      margin-top: 5px;
    }



  </style>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../style/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <script src="https://cdn.ckeditor.com/ckeditor5/29.2.0/classic/ckeditor.js"></script>
  <title>Editor</title>
</head>

<body>
  <%- include('partials/navbar2') %>
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Editor Files</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>

        <%let editorFileNum=0%>
        <% userInfo.subjects[subjectNum].subject.chapters[chapterNum].editorFiles.forEach(editorFile=>{ %>
          <% let url='/specificEditorFile/'+subjectNum+","+chapterNum+","+editorFileNum%>
          <% let url2='/delete_Editor_File/'+subjectNum+","+chapterNum+","+editorFileNum%>

          <div style=" border: 2px solid black;" class="alert alert-primary flex-class" role="alert">
            <a style="color: white; text-decoration: none; " href=<%=url%>> <b> <i> <%=editorFile.name%></i></b></a>
            <button type="button" onclick="return confirm('Do you really want to delete?')" class="btn btn-danger"> <a style="color: white; text-decoration: none; " href=<%=url2%>>Delete</a> </button>
          </div>

          
          <%editorFileNum=editorFileNum+1%>
          <% }) %>


       </div>

    </div>
  </div>


  <div class="container flex-class" style="margin-left: 0px;">

    <div class="editorContainer">
      <div id="editorjs"></div>
      <button id="saveCode" type="button" class="btn btn-info" style="margin:3px">Save</button>
      <button id="updateCode" type="button" class="btn btn-danger" style="margin:3px">Update</button>
    </div>
   

    <script src="../js/editorTesting.js"></script>

    <script>
      let editorData='<%-editorFile%>'
      let data= JSON.parse(editorData)
     
      editor.isReady
            .then(() => {
                console.log('Editor.js is ready to work!')
                editor.render(data)

                /** Do anything you need after editor initialization */
            })
            .catch((reason) => {
                console.log(`Editor.js initialization failed because of ${reason}`)
            });

    </script>

    <script>
      document.getElementById('editor_files').style.display='block'
      
      let saveBtn=document.getElementById('saveCode')
        saveBtn.addEventListener('click',function (){
          let chapName=prompt("Enter chapter Name")
        editor.save().then(code=>{
       
        let subI='<%-subjectNum%>'
        let chapI='<%-chapterNum%>' 
        let url='https://studdy-buddyy.herokuapp.com/saveEditorData/'+subI+','+chapI  // '<%-subjectNum%>' '<%-chapterNum%>'
        fetch(url,{
            method:"post",
            body:JSON.stringify({name:chapName,code:code}),
            headers:{
                'Content-Type':'application/json'
            }
        }).then(res=>res.json())
        .then(result=>{
      
            location.reload();
        }).catch(e=>{
           
        })

       
    }).catch(error=>{
        console.log("failed to save code",error)
    })
})


    </script>
 
 <script>
  document.getElementById('editor_files').style.display='block'
  let updateBtn=document.getElementById('updateCode')
  updateBtn.addEventListener('click',function (){
    let conf=confirm('Do you really want to update?')
    if(!conf) return;
    editor.save().then(code=>{

    let subI='<%-subjectNum%>'
    let chapI='<%-chapterNum%>' 
    let fileI='<%-fileNumber%>'
    let url='https://studdy-buddyy.herokuapp.com/updateEditorData/'+subI+','+chapI+ ','+fileI  // '<%-subjectNum%>' '<%-chapterNum%>'
    fetch(url,{
        method:"post",
        body:JSON.stringify(code),
        headers:{
            'Content-Type':'application/json'
        }
    }).then(res=>res.json())
    .then(result=>{
      
        location.reload();
    }).catch(e=>{
        console.log(e)
    })

   
}).catch(error=>{
    console.log("failed to save code",error)
})
})


</script>

   

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
      <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">PDF Files</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        
        <div class="filesContainer">
          
          <%let fileNum=0%>
          <% userInfo.subjects[subjectNum].subject.chapters[chapterNum].files.forEach(file=>{ %>
            <% let url='/specificFile/'+subjectNum+","+chapterNum+","+fileNum%>
            <% let url2='/delete_PDF_File/'+subjectNum+","+chapterNum+","+fileNum%>

            <div class="alert alert-primary flex-class" role="alert" style="border: 2px solid black; ">
              <a target="_blank" style="color: white; text-decoration: none; " href=<%=url%>> <b> <i> <%=file.name%></i></b></a>
              <button type="button" onclick="return confirm('Do you really want to delete?')" class="btn btn-danger"> <a style="color: white; text-decoration: none; " href=<%=url2%>>Delete</a> </button>
            </div>
            
            
            <%fileNum=fileNum+1%>
            <% }) %>
        </div>
      </div>
    </div>


    <div class="card" style="width: 18rem;
    border: 2px solid black;
    border-radius: 20px;
    height: 10rem;" >
      <div class="card-body">
        <h5 class="card-title">Upload PDF File</h5>
        
        <div class="container" style="margin-left: 0px;">
          <% url="/files/"+subjectNum+","+chapterNum %>
          <form id="uploadFile" action=<%=url %> method="POST" enctype="multipart/form-data">
            
            <input type="text" name="documentName" id="documentName" placeholder="File name"/>
            <input class="selectFile" type="file" name="userFile" />
            <button type="submit" class="btn btn-info" >upload</button>
            <a href="https://www.ilovepdf.com/" target="_blank">Dont have pdf?</a>
          </form>
    </div>

    <!-- <div class="container" style="width:20px">
      <% url="/files/"+subjectNum+","+chapterNum %>
      <form id="uploadFile" action=<%=url %> method="POST" enctype="multipart/form-data">
        
        <input type="text" name="documentName" id="documentName" placeholder="File name"/>
        <input type="file" name="userFile" />
        <button type="submit" class="btn btn-primary" >upload</button>
      </form>
    </div> -->
  </div>


    <script>
    document.getElementById('PDF_Files').style.display = "block"
    </script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    -->
</body>

</html>